doctype html
html(lang="en", ng-app="myAppModule", manifest=(debug === true ? "" : "manifest.appcache"))
	head
		title Flipkart task manager
		if debug
			link(rel="stylesheet", type="text/css", href="styles/less/style.css")
		else
			link(rel="stylesheet", type="text/css", href="style-" + version + ".css")
	body
		h1.center Task Manager
		.container
			div
				//Category LIST
				div.category-column
					input#categoryName.add-item(placeholder="Add a category", type="text")
					button.btn#addCategoryButton Add
					div.category-list
				

				//TASKS LIST
				div.tasks-column
					input#taskName.add-item(placeholder="Add a task", type="text")
					button.btn#addTaskButton Add
					div.task-list
					

		if debug
			script(src='http://localhost:35729/livereload.js')
			script(src="tQuery.js")
			script(src="TaskManager.js")
			script(src="View.js")
			script(src="app.js")
		else
			script(src='script-' + version + '.js')
