doctype 5
html(lang="en", ng-app="myAppModule", manifest=(debug === true ? "" : "manifest.appcache"))
	head
		title Playing around with Angular JS
		if debug
			link(rel="stylesheet", type="text/css", href="styles/less/style.css")
		else
			link(rel="stylesheet", type="text/css", href="style-" + version + ".css")
	body
		.container
			h1 Task Manager
			div
				//LISTS LIST
				div.lists-column
					input#categoryName(placeholder="Add a category")
					button#addCategoryButton Add a category
					div.category-list
				

				//TASKS LIST
				div.tasks-column
					
					div.task-list
					input#newTaskDescription(placeholder="Add a task")
					button#addTaskButton Add Task
					

		if debug
			script(src='http://localhost:35729/livereload.js')
			script(src="tQuery.js")
			script(src="TaskManager.js")
			script(src="app.js")
		else
			script(src='script-' + version + '.js')
